/* You can add global styles to this file, and also import other style files */
body {
  background-color: #3f3f3f;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: white;
  font-size: 18px;
}